# Global owners
*  @EtimEsuOyoIta # your firm CEOs github username

# Directory Ownership
code/algomatrix/  @BlazerLabs/algomatrix
code/binaryhyway/  @BlazerLabs/binaryhyway
code/codecraft/  @BlazerLabs/codecraft
code/datadynamo/  @BlazerLabs/datadynamo
code/evergreen/  @BlazerLabs/evergreen-dynamics
code/futureforge/  @BlazerLabs/futureforge-labs
code/gravitek/  @BlazerLabs/gravitek
code/hypernexus/  @BlazerLabs/hypernexus
code/innobyte/  @BlazerLabs/innobyte-labs
code/jetstream/  @BlazerLabs/jetstream-technologies

